@charset "UTF-8";   /*コードの文字化けを防ぐ*/



/*共通部分*/
html{
    font-size:100%;
}

body{
    font-family:"Meiryo";
    line-height:1.7; /*行の高さ*/
    color:mediumblue;
    margin:0;
    padding:0;
}

a{
   text-decoration:none;  /*テキスト傍線の指定*/
}

img{
    max-width:100%;  /*画像の大きさの指定_画像が親要素より大きくなることを防ぐ*/
}








/*HEADER*/
.logo{
    width: 500px;
    height:240px;    
}


.main-nav{
    display:flex;  /*要素が並列になる*/
    font-size:1.25rem;
    margin-top:34px;
    list-style:none;
    /*text-transform:uppercase;  すべての文字を大文字に変換します。*/
}


.main-nav li{
    margin-left:36px;  /*<li>タグの左側の余白を指定*/
}

.main-nav a{
    color:cornflowerblue;  /*<aタグ>の文字列の色を指定*/
}

.main-nav a:hover{
    color:tomato;    /*リンクにカーソルがのっているときの色*/
}


.page-header{
    display:flex;
    justify-content:space-between;  /*両端に設置*/
}

.wrapper{
    max-width:1800px;
    margin:0 auto;  /*中央に配置*/
    padding:0 4%;   /*スマートフォン向けの余白指定*/
}







/*HOME*/
.home-content{
    text-align:center;  /*画面中央に配置*/
    margin-top:10px;
}
.home-content p{
    font-size:1.2rem;
    color:black;
    margin:10px 0 42px;  /*上 左右 下*/
}




/*見出し*/
.page-title{
    font-size:5rem;
    font-family:"Meiryo";
    font-weight:noramal;
}


/*大きな背景画像*/
.big-bg{
    background-size:cover; /*縦横の比率を保ったまま画面いっぱいに広げる*/
    background-position: center top;  /*背景位置*/
}
#home{
    background-image:url(../images/MainPicture.jpg);
    min-height:100vh; /*画面の高さ指定*/
}
#home .page-title{
    text-transform:none; /*テキストの大文字,小文字,全角の指定。noneは変換しない指定*/
}